<a href="https://colab.research.google.com/github/Mavisfeng/0618/blob/main/0726_P.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1 = 'abcdefg'
addr1 = '台北市大同區忠孝東路一段100號'

str1[2]
str1[2:5]
addr1[0:3]
addr1[:3]
addr1[:6]

'台北市大同區'

In [ ]:
#for & list 迴圈

fruits = ['Apple', 'Banana', 'Cherry']
for fruit in fruits:
  print(fruit, end=',')

Apple,Banana,Cherry,

In [ ]:
#for list 迴圈計算1加到10
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
  total = total + i
print(total)

55

In [ ]:
#for list 迴圈計算 1 到 10 的偶數相加
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0 
for i in list1[1::2]:
  total = total + i
print(total)

30

In [ ]:
#for list 迴圈計算 1 到 10 的偶數相加
list1 = range(1, 11)
total = 0
for i in list1:
    total = total + i
print(total)

55

In [ ]:
#for range 迴圈計算 1 到 1000 之間 3 的倍數，而且是基數值
total = 0
for i in range(1, 1001):
  if i % 3 == 0 and i % 2 != 0:
    total = total + i
print(total)

83667

In [ ]:
#用 for range 迴圈將所有水果名列出
fruits = ['Apple', "Banan", 'Cherry']
for i in range(len(fruits)):
  print(fruits[i])

Apple
Banan
Cherry

In [ ]:
#用 for range 迴圈將所有生肖列出
animals = '鼠牛虎兔龍蛇馬羊猴雞狗豬'
animals[:5]
for animal in animals:
  print(animals, end='')

鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬鼠牛虎兔龍蛇馬羊猴雞狗豬

In [ ]:
#用 for range 迴圈將所有生肖列出，用在大範圍的資料
animals = '鼠牛虎兔龍蛇馬羊猴雞狗豬'
for i in range(0, 5): #取出前5筆資料
  print(animals[i], end='')

鼠牛虎兔龍

In [ ]:
#用 while 迴圈計算 1 到 10
i = 1
total = 0 
while i <= 10:
  total = total + i
  i = i + 1 
print(total)

55

In [ ]:
#用 while 迴圈計算 1 到 偶數加總
i = 1 
total = 0 
while i <=10:
  if i % 2 == 0:
    total = total + i
  i = i + 1
print(total)

30

In [ ]:
#for while 迴圈計算 1 到 1000 之間 3 的倍數，而且是基數值
i = 1
total = 0
while i<= 1000:
  if i % 3 == 0 and i % 2 !=0:
    total = total + i 
  i = i + 1
print(total)

83667

In [ ]:
#break 跳出迴圈
for i in range(1,11):
  if i == 4:
    break
  print(i, end=',')

1,2,3,

In [ ]:
#continue 跳過迴圈
for i in range(1, 11):
  if i == 4:  #跳過4，不印出
    continue
  print(i, end=',')

1,2,3,5,6,7,8,9,10,

In [ ]:
#作業(一): 九九乘法表 (練習迴圈)
#(解法一)
for i in range(2,10):
  for j in range(2,10):
    print("{} * {} = {:02}" .format(i, j, i*j))
  print('-' * 10)

2 * 2 = 04
2 * 3 = 06
2 * 4 = 08
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 2 = 06
3 * 3 = 09
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 2 = 08
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [ ]:
#作業(一): 九九乘法表 (練習迴圈)
#(解法二)
for i in range(2,10):
  for j in range(2,10):
    print("{} * {} = {:02}" .format(i, j, i*j), end=" ")
  print()

2 * 2 = 04 2 * 3 = 06 2 * 4 = 08 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 2 = 06 3 * 3 = 09 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 2 = 08 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [ ]:
#作業(二): 繪製三角形 (靠左、靠右、至中)
#建立思維
list (range(1, 10, 2))
for i in range(1, 10, 2):
  print(i)


#用range的概念，帶入list 概念

for i in range(1, 10, 2):
  print(i * '*')

1
3
5
7
9
*
***
*****
*******
*********

In [ ]:
for i in range(1, 10, 2):
  print(((9-i) / 2) * ' ', end='')
  print(i * '*')

TypeError: ignored

In [ ]:
for i in range(1, 10, 2):
  print(int((9-i) / 2) * ' ', end='')
  print(i * '*')

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(1, 10, 2):
  print('{:9}'.format(i * '*'))
  
for i in range(1, 10, 2):
  print('{:>9}'.format(i * '*'))

  for i in range(1, 10, 2):
  print('{:^9}'.format(i * '*'))

IndentationError: ignored