<a href="https://colab.research.google.com/github/Mavisfeng/0618/blob/main/gj_py_1111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h =  float(input ("身高")) / 100
w = float (input ("體重"))
bmi = w / h ** 2
print(round (bmi, 3))
print(f"bmi: {bmi:.3f}")

if bmi < 18.5:
  print("太輕")
elif bmi < 25:
  print ("正常")
elif bmi <30:
  print ("超重")
else:
  print("胖胖")

In [9]:
str2 = "hello,Python"
print(str2[0])
print(str2[6])
print(str2[-1])
print(str2[-2])

print(str2[3:7])
print(str2[-4:-1])

h
P
n
o
lo,P
tho

print str2 [3:7] 表示取數 第3個～到～地7個
print str [-4:-1] 表示取數 倒數～～第一個到第4個

In [13]:
str1 = "Hello, Python"
str2 = str1[:5]
str3 = str1[-6:]
print(str2)
print(str3)
str1 = str2 + ":" + str3
print(str1)
print(len(str1))

Hello
Python
Hello:Python
12

用 print(len(str1)） == 可以查字串的字數

In [14]:
str1 = "Hello, Python"
print(str1[5])
str1[5] = ":"  #字串不支持修改

,

TypeError: ignored

In [19]:
str1 = "This is Python.That is Java,This is SQLite"
search1 = "Python"
print(str1.find(search1))
search2 = "not"
print(str1.find(search2))  #找不到就會出現-1
search3 = "t"
print(str1.find(search3, 11))  #從第11個開始搜尋

8
-1
18

案例如下：

join(): 於字串或字元之間加入指定的文字，如：指定文字.join （要插入的字串）

In [21]:
str1 = "_"
str2 = ("a", "b", "c", "d")  #tuple 就像籃子樣，把字串放在同一籃裡面
print(str1.join(str2))
str3 = ["abc", "zyx", "123"]  #list
print(str1.join(str3))
str4 = ":".join("Python")
print(str4)

a_b_c_d
abc_zyx_123
P:y:t:h:o:n

split 案例如下：

split(): 將字串進行切割
str.split(分割符號）
str.split(分割符號, 分割次數）

In [25]:
str4 = "python-java-cc++-ruby"
values = str4.split("-")
print(values)
print(values[1])
value2 = str4.split("-", 1)  #1指的是位置
value3 = str4.split("-", 2)   #2指的是位置
print(value2)
print(value3)

['python', 'java', 'cc++', 'ruby']
java
['python', 'java-cc++-ruby']
['python', 'java', 'cc++-ruby']

20231111作業：文字接龍遊戲
請輸入一個字串python
**請輸入**

list vs tuple 的差異
*   tuple與list 的差異
  1.   括號不同：
    *   tuple 是用 "小括號" 將元素包起來
    *   list 是用 "中括號" 將元素包起來

  2.   元素可否變更 ？
    *   tuple 決定了元素的內容不可以變更
    *   list 可以隨時修改

list 介紹
1. list 內資料用“逗號”隔開，放置於“中括號”的範圍內
    * list_name = [1,2,3]
2. list 可以儲存 “不同類型” 的值或項目，如：數字和字串
    ＊ list_name = [1,2, 'Python', 'lists']
3. list 內的資料可以進行 "增加、更新、移除“
4. 可透過 .index () 方法取得指定資料的索引

In [29]:
list1 = ["H", 'i']  #中括號
tuple1 = ('H', 'i') #小括號
print(list1)
print(len(list1))
list1.append("vivin")  #將一個新的項目加到list 的尾端
print(list1)
print(len(list1))  #len 是識別長度
list1[1] = 3.1415
print(list1)
print("================")
print(tuple1)
#tuple1[0] = "Lucy"  #唯讀，不可以改
#print(tuple)

['H', 'i']
2
['H', 'i', 'vivin']
3
['H', 3.1415, 'vivin']
================
('H', 'i')

In [31]:
list2 = [1,2,3,4]
list2.append(5)
list2.append(6)
result = tuple(list2) #list轉tuple
print(result)
print(type(result))
list2 = list(result) #tuple轉list
print(list2)
print(type(list2))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [37]:
a = (3,1,2)
b = a + (5,)  #tuple “逗號”
print(b)

list1 = [3,1,2]
list2 = list1 + [5] #list 不用加 “逗號”
print(list2)

print(id(list1)) #用id 識別兩者的差異，type 也是 （常用）
print(id(list2))

(3, 1, 2, 5)
[3, 1, 2, 5]
133432792731328
133432793290368