<a href="https://colab.research.google.com/github/Mavisfeng/0618/blob/main/gj_py_1111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h =  float(input ("身高")) / 100
w = float (input ("體重"))
bmi = w / h ** 2
print(round (bmi, 3))
print(f"bmi: {bmi:.3f}")

if bmi < 18.5:
  print("太輕")
elif bmi < 25:
  print ("正常")
elif bmi <30:
  print ("超重")
else:
  print("胖胖")

In [ ]:
str2 = "hello,Python"
print(str2[0])
print(str2[6])
print(str2[-1])
print(str2[-2])

print(str2[3:7])
print(str2[-4:-1])

h
P
n
o
lo,P
tho

print str2 [3:7] 表示取數 第3個～到～地7個
print str [-4:-1] 表示取數 倒數～～第一個到第4個

In [ ]:
str1 = "Hello, Python"
str2 = str1[:5]
str3 = str1[-6:]
print(str2)
print(str3)
str1 = str2 + ":" + str3
print(str1)
print(len(str1))

Hello
Python
Hello:Python
12

用 print(len(str1)） == 可以查字串的字數

In [ ]:
str1 = "Hello, Python"
print(str1[5])
str1[5] = ":"  #字串不支持修改

,

TypeError: ignored

In [ ]:
str1 = "This is Python.That is Java,This is SQLite"
search1 = "Python"
print(str1.find(search1))
search2 = "not"
print(str1.find(search2))  #找不到就會出現-1
search3 = "t"
print(str1.find(search3, 11))  #從第11個開始搜尋

8
-1
18

案例如下：

join(): 於字串或字元之間加入指定的文字，如：指定文字.join （要插入的字串）

In [ ]:
str1 = "_"
str2 = ("a", "b", "c", "d")  #tuple 就像籃子樣，把字串放在同一籃裡面
print(str1.join(str2))
str3 = ["abc", "zyx", "123"]  #list
print(str1.join(str3))
str4 = ":".join("Python")
print(str4)

a_b_c_d
abc_zyx_123
P:y:t:h:o:n

split 案例如下：

split(): 將字串進行切割
str.split(分割符號）
str.split(分割符號, 分割次數）

In [ ]:
str4 = "python-java-cc++-ruby"
values = str4.split("-")
print(values)
print(values[1])
value2 = str4.split("-", 1)  #1指的是位置
value3 = str4.split("-", 2)   #2指的是位置
print(value2)
print(value3)

['python', 'java', 'cc++', 'ruby']
java
['python', 'java-cc++-ruby']
['python', 'java', 'cc++-ruby']

20231111作業：文字接龍遊戲
請輸入一個字串python
**請輸入**

list vs tuple 的差異
*   tuple與list 的差異
  1.   括號不同：
    *   tuple 是用 "小括號" 將元素包起來
    *   list 是用 "中括號" 將元素包起來

  2.   元素可否變更 ？
    *   tuple 決定了元素的內容不可以變更
    *   list 可以隨時修改

list 介紹
1. list 內資料用“逗號”隔開，放置於“中括號”的範圍內
    * list_name = [1,2,3]
2. list 可以儲存 “不同類型” 的值或項目，如：數字和字串
    ＊ list_name = [1,2, 'Python', 'lists']
3. list 內的資料可以進行 "增加、更新、移除“
4. 可透過 .index () 方法取得指定資料的索引

In [ ]:
list1 = ["H", 'i']  #中括號
tuple1 = ('H', 'i') #小括號
print(list1)
print(len(list1))
list1.append("vivin")  #將一個新的項目加到list 的尾端
print(list1)
print(len(list1))  #len 是識別長度
list1[1] = 3.1415
print(list1)
print("================")
print(tuple1)
#tuple1[0] = "Lucy"  #唯讀，不可以改
#print(tuple)

['H', 'i']
2
['H', 'i', 'vivin']
3
['H', 3.1415, 'vivin']
================
('H', 'i')

In [ ]:
list2 = [1,2,3,4]
list2.append(5)
list2.append(6)
result = tuple(list2) #list轉tuple
print(result)
print(type(result))
list2 = list(result) #tuple轉list
print(list2)
print(type(list2))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [ ]:
a = (3,1,2)
b = a + (5,)  #tuple “逗號”
print(b)

list1 = [3,1,2]
list2 = list1 + [5] #list 不用加 “逗號”
print(list2)

print(id(list1)) #用id 識別兩者的差異，type 也是 （常用）
print(id(list2))

(3, 1, 2, 5)
[3, 1, 2, 5]
133432792731328
133432793290368

In [38]:
list1 = ["A", "B", "C", "D", "E"]
newList = list1[0:3]
print(newList) #全新的list和 List1 無關
newList[0] = "Z"
print(list1)
print(newList)

['A', 'B', 'C']
['A', 'B', 'C', 'D', 'E']
['Z', 'B', 'C']

**轉為List**

In [46]:
r = range(10)
print(type(r))  #顯示類別/型態：range
list1 = list(r)
print(list1)

print(type(list1))   #顯示類別/型態：list
for v in r:
  print(v, end=" ")

list2 = list("ABCDEF")
print()
print(list2)

tuple1 = (1,2,3,4)   #用tuple結合range+list
list3 = list(tuple1)
list3[2] = "Ken"
print(list3)

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
0 1 2 3 4 5 6 7 8 9
['A', 'B', 'C', 'D', 'E', 'F']
[1, 2, 'Ken', 4]
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [47]:
#練習
r = range(100)

print(type(r))
list4 = list(r)
print(list4)

print(type(list4))
for v in r:
  print(v, end=" ")

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
<class 'list'>
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [45]:
data =  ("ken", "vivin", "Lucy")
name1 = data[0]
name2 = data[1]
name3 = data[2]
print(name1, name2, name3)

#擴充指定
data = ("Ken", "Vivin", "Lucy")
name1, name2, name3 = data
print(name1, name2, name3)

#練習
data1 = ("Mavis", "Kevin", "John")
name1, name2, name3 = data1
print(name1, name2, name3)

ken vivin Lucy
Ken Vivin Lucy
Mavis Kevin John

拷貝與附加 （案例如下：）

In [51]:
#模仿
list1 = [1,2,3,4,5]
list2 = list1
print("list1:", list1)
print("list2:", list2)

print("=============")
#拷貝
list1 = [1,2,3,4,5]
list2 = list1.copy()  #copy
print("list1:", list1)
print("liste2:", list2)

print(" 練習 ====== ")
list3 = ["mavis", "Kevin", "John"]
list4 = list3.copy()
print("list3: ", list3)
print("list4:", list4)

print(" ========= ")
list1 = [1,2,3,4,5]
list2 = [21,22,23,24,25]
print(list1)
list1.append(200)  #將一個新的項目加到list 的尾端
print(list1)
list1.append(list2)
print(list1)
print(len(list1))

list1: [1, 2, 3, 4, 5]
list2: [1, 2, 3, 4, 5]
=============
list1: [1, 2, 3, 4, 5]
liste2: [1, 2, 3, 4, 5]
 練習 ======
list3:  ['mavis', 'Kevin', 'John']
list4: ['mavis', 'Kevin', 'John']
 =========
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 200]
[1, 2, 3, 4, 5, 200, [21, 22, 23, 24, 25]]
7

list 擴展資料
*   Extend 擴展資料
    1.   如果引號刮起來的字串有 [] 將會拆解成好幾個資料
    2.   可以把其他list 加入到這個list內，擴展多個欄位

In [60]:
list1 = [1,2,3,4,5]
list2 = [21,22,23,24,25]
print(list1)
list1.extend(list2)
print(list1)
print(len(list1))

print("練習 擴充 extend 用法 =================== 練習")
list3 = [2,4,6,8,10]
list4 = [100,200,300,400,500]
print(id(list3))   #利用id來檢視list的身份，每個人的電腦記憶體的位置
list3.extend(list4)
print(list3)

print("練習 擴充用＋＝用法 =========== 練習 ")
list3 = [2,4,6,8,10]
list4 = [100,200,300,400,500]
list3 += list4
print(list3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 21, 22, 23, 24, 25]
10
練習 擴充 extend 用法 =================== 練習
133432788992384
[2, 4, 6, 8, 10, 100, 200, 300, 400, 500]
練習 擴充用＋＝用法 =========== 練習
[2, 4, 6, 8, 10, 100, 200, 300, 400, 500]

list 項目插入新資料  （案例如下）
* list.insert (索引值，插入的資料）
* 若索引值超出範圍，則會改為 append 方式附加

In [70]:
list1 = ['a','b','c','d','e']
print(len(list1))  #原本list的長度
list1.insert(1,"x")
print(list1)
print(len(list1))   #插入之後，list的長度
list1.insert(-2, "y")   #插入 “倒數”位置就用 -（負號）表示
print(list1)
list1.insert(-4, "z")
print(list1)
list1.insert(88, "g")  #88超過list的數量範圍，會以append的方式，插入在最後一個位置
print(list1)

print("練習 ========== 練習")
list3 = ['1','2','3','4', '5','6','7']
print(len(list3))
list3.insert(2, "x, y")
print(list3)
print(len(list3))
list3.insert(-2,"m")
print(list3)
list3.insert(-4,"a")
print(list3)
list3.insert(99,"s")
print(list3)

5
['a', 'x', 'b', 'c', 'd', 'e']
6
['a', 'x', 'b', 'c', 'y', 'd', 'e']
['a', 'x', 'b', 'z', 'c', 'y', 'd', 'e']
['a', 'x', 'b', 'z', 'c', 'y', 'd', 'e', 'g']
練習 ========== 練習
7
['1', '2', 'x, y', '3', '4', '5', '6', '7']
8
['1', '2', 'x, y', '3', '4', '5', 'm', '6', '7']
['1', '2', 'x, y', '3', '4', 'a', '5', 'm', '6', '7']
['1', '2', 'x, y', '3', '4', 'a', '5', 'm', '6', '7', 's']

Set 會過濾重複資料 （案例如下）：

In [78]:
list1 = ["A","E", "B", "D", "C" ]
print(list1)
mySet = {"A", "B", "C", "A"}
print(mySet)   #用set消除重複資料
newSet = set(list1)
print(newSet)
print(list(newSet))

print("練習 ============= 練習")
list3 = ["1","6", "2", "3", "7", "10", "10"]
print(list3)
mSet = {"1","6", "6", "3", "6", "10", "10"}
print(mSet)       #這兩行不同寫法，一樣的結果
print(list(mSet))  #這兩行不同寫法，一樣的結果

['A', 'E', 'B', 'D', 'C']
{'A', 'B', 'C'}
{'A', 'B', 'C', 'D', 'E'}
['A', 'B', 'C', 'D', 'E']
練習 ============= 練習
['1', '6', '2', '3', '7', '10', '10']
{'1', '3', '10', '6'}
['1', '3', '10', '6']

remove 依據內容進行刪除 （案例如下）
list.remove(項目內容）

In [83]:
list1 = ['1','2','3','x','4']
print(list1)
print(len(list1))
list1.remove("x")  #用remove刪除指定的項目內容
print(list1)
print(len(list1))

print("練習 ============= 練習")
list3 = ['A','B', 'C', '8']
print(list3)
print(len(list3))
list3.remove("8")
print(list3)
print(len(list3))

['1', '2', '3', 'x', '4']
5
['1', '2', '3', '4']
4
練習 ============= 練習
['A', 'B', 'C', '8']
4
['A', 'B', 'C']
3